<!DOCTYPE html>
<html lang="en">
<!-- Main title -->
<title>Danish bread bakery</title>
<!-- Declarations -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
<!-- Nav-bar -->
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading pure-menu-link">Danish bread bakery</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/" class="pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
          <a href="/newmessage" class="pure-menu-link">New Message</a>
      </li>
        <li class="pure-menu-item">
          <a href="/ajaxmessage" class="pure-menu-link">Ajax Message</a>
      </li>
      <li class="pure-menu-item">
        <a href="/guestbook" class="pure-menu-link">Guestbook</a>
    </li>
    </ul>
</div>

<!-- Page main title -->
    <div class="container-fluid" style="margin-left: 50px; margin-top: 50px;">
        <h1>Enter new message</h1>
<!-- Message form -->
      <form name="myform" class="pure-form pure-form-aligned" id="searchForm" action="/ajaxmessage">
        <fieldset class="ajaxform">
          <div class="pure-control-group" style="margin-top:30px;">
            <label for="aligned-name">Name:</label>
                <input type="text" id="aligned-name" class="input-form" name="title" required placeholder="Enter you name"/>
                <span id="span" class="pure-form-message-inline">This is a required field.</span>
          </div>
          <div class="pure-control-group">
			      <label for="aligned-country">Country:</label>
                <input type="text" name="country" class="input-form" id="aligned-country" required placeholder="Enter your country"/>
                <span id="span" class="pure-form-message-inline">This is a required field.</span>
          </div>
          <div class="pure-control-group">
            <label for="aligned-content">Message:</label>
                <textarea name="content" class="input-form" id="aligned-foo" required placeholder="Write your message here" rows="10"></textarea>
                <span id="span" class="pure-form-message-inline">This is a required field.</span> 
          </div>
          <div class="pure-controls">       
               <input type="submit" class="pure-button pure-button-primary" id="ajaxformsubmitbutton" value="Send" />
          </div>
        </fieldset>
      </form>
    </div>

<!-- Footer -->
<div class="footer l-box is-center" style="margin-top: 50px;">
  <p>Danish bread bakery</p>
</div>

    <script>
      // Attach a submit handler to the form
      $( "#searchForm" ).submit(function( event ) {
       
        // Stop form from submitting normally
        event.preventDefault();
       
        // Get some values from elements on the page:
        var $form = $( this ),
          term = $form.find( "input[name='title']" ).val(),
          term1 = $form.find( "input[name='country']" ).val(),
          term2 = $form.find( "textarea[name='content']" ).val(),
          url = $form.attr( "action" );
       
        // Send the data using post
        var posting = $.post( url, { title: term, country: term1, content: term2 } );
        console.log(term+term1+term2);
        alert("Your message is submitted!");
      });
      </script>



</body>

</html>