<!DOCTYPE html>
<html lang="en">
<!-- Main title -->
<title>Danish bread bakery</title>
<!-- Declarations -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>

<body>
<!-- Nav-bar -->
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading pure-menu-link">Danish bread bakery</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/" class="pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
          <a href="/newmessage" class="pure-menu-link">New Message</a>
      </li>
        <li class="pure-menu-item">
          <a href="/ajaxmessage" class="pure-menu-link">Ajax Message</a>
      </li>
      <li class="pure-menu-item">
        <a href="/guestbook" class="pure-menu-link">Guestbook</a>
    </li>
    </ul>
</div>

<!-- Page main title -->
    <div class="container-fluid">
        <h1 title="Danish bread bakery" style="margin-left: 50px; margin-top: 50px;">About Danish bread bakery</h1>
        <p style="margin-left: 50px;">since 2015</p>
<!-- 2 rows container with main Danish bread picture and bakery history text -->
          <div class="pure-g" style="margin:50px">
            <div class="pure-u-1-2">
              <div class="l-box">
              <img src="/img/Danish_bread.jpg" alt="Danish bread" aria-label="For screen readers" class="pure-img-responsive" width="350" height="350" display="inline";></img> 
             </div>
            </div>
            <div class="pure-u-1-2">
              <div class="l-box">
              <h2>We want you to know everything about us and understand why our bread is so incredible.</br></br>
                 We are a family company that loves to eat Danish bread. Unfortunately, in the city where we live, there is no way to buy this type of bread and we baked it ourselves. 
                 Danish bread has become a hallmark of our family. Our relatives and friends, having tasted the bread baked by mam, began to order it. So we came up with the idea of 
                 opening our own little bakery that would specialize in baking only Danish bread.</h2>
                </div>
              </div>
          </div>
        </div>
<!-- Bakery's slogan -->
        <div class="pure-g" id="wholepagebox">
          <div class="pure-u-5-5">
            <h1 style="padding:20px; text-align: center;"><strong>"The main rule of our bakery is honest, high-quality and open work."</strong></h1>
          </div>
        </div>
<!-- Bakery's big picture -->
        <div class="pure-g">
          <div class="pure-u-5-5">
            <img src="/img/Danish_bread_family.jpg" alt="Danish bread family" aria-label="For screen readers" class="imgcenter" aria-label="For screen readers";></img>
          </div>
      </div>
<!-- Danish bread recipe -->
      <div class="pure-g" style="margin:50px">
        <div class="pure-u-1-2" style= "padding-top: 1%;">
          <div class="l-box">
            <h3><strong>Danish bread recipe from our bakery.</strong></h3></br>         
         <ol>
          <li>Top dressing:</li>
            <ul>
             <li>rye flour 2 tbsp. l.</li>
             <li>water 6 tbsp. l.</li>
            </ul>
          <li>Rye sourdough:</li>
          <ul>
            <li>rye flour 125 g</li>
            <li>natural yoghurt 100 g</li>
            <li>salt 1 tbsp. l.</li>
           </ul>
          <li>Main:</li>
          <ul>
            <li>rye flour 200 g</li>
            <li>rye 200 g</li>
            <li>water 300 ml</li>
            <li>rye sourdough 200 g</li>
            <li>fresh yeast 5 g</li>
            <li>pumpkin seeds</li>
            <li>malt extract 30 g</li>
            <li>salt 15 g</li>
          </ul>
        </ol>
          </div>
        </div>
        <div class="pure-u-1-2" style= "padding-top: 4.75%;">
          <div class="l-box">
          <h4>The preparation time for Danish bread takes three days.</h4></br>         
          <ol>
           <li>Start a rye sourdough: mix 125g of flour, 100g of natural live yogurt without additives and 1 tbsp. coarse salt. Leave for 2 days at room temperature in a closed container. After the specified time, feed the starter: 2 tbsp. flour and 6 tbsp. water. Mix and leave for another day.</li>
           <li>The starter is ready, now you can knead the dough! Combine water and yeast, add sourdough there. Prepare the rest of the ingredients: flour, seeds, malt and grains.</li>
           <li>Knead the dough. Dense, brutal bread is obtained by infusion of dough for 2 hours, after which we bake bread.</li>
           <li>Traditionally, Danish rye bread is baked in a rectangular bread pan (brick). Lubricate the form with a small amount of vegetable oil, lay out the dough, grease the top with vegetable oil or water, bake at 200 * C for 30 minutes, then at 180 * C for another 30 minutes.</li>
           <li>Cool the bread on a wire rack. Cut after 3-5 hours.</li>
          </ol>
          </div>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-5-5" style= "padding-bottom:50px;">
        <h2 style="text-align: center;">Bon appetit!</h2>
        </div>
      </div>

<!-- Footer -->
<div class="footer l-box is-center">
    <p>Danish bread bakery</p>
</div>

</body>

</html>