* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  color: #3f3d3d;
}

.l-box {
  padding: 1em;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#wholepagebox{
  background-color: #644e48;
  color:#ffffff;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

fieldset {
  background-color: #644e48;
  color:#ffffff;
  border: 2px solid #ddd;
  max-width: 900px;
  border-radius: 25px;
}

.ajaxform {
  background-color: #834444;
}

.pure-control-group {
  margin-top: 20px;
}

#span {
color:rgb(0, 0, 0);
}

.input-form {
 width: 500px;
}

.pure-button.pure-button-primary {
  width: 500px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(13, 148, 69);
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
}


#ajaxformsubmitbutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(96 9 51);
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

#ajaxformsubmitbutton:hover {background-color: rgb(13, 148, 69);}

#ajaxformsubmitbutton:active {
  background-color: rgb(13, 148, 69);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
  background-color: #644e48;
  color:#ffffff;
  text-align: center;
  font-size: 15px;
  width: 100%;
}
